<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MedSched Login</title>
        <script src="vendors/angular.min.js" charset="utf-8"></script>
        <script src="vendors/angular-route.min.js" charset="utf-8"></script>
        <script src="scripts/client.js" charset="utf-8"></script>
    </head>
    <body ng-app="msApp">
        <h1>MedSched</h1>
        <h2>Log In</h2>
        <form ng-controller="LoginController">
            <label for="email">Email:</label>
            <input type="text" name="email" ng-model="username">
            <label for="password">Password:</label>
            <input type="password" name="password" ng-model="password">
            <input type="submit" ng-click="login()" value="Login">
            <a href="/register">Register</a>
        </form>
    </body>
</html>
