html, body {
    height: 100%;
    background-color: #FFFFF0
}

header, footer {
    background-color: #8d2727;
    color: #FFFFF0;
    text-align: center;
}

footer p {
    line-height: 50px;
    margin-bottom: 0px;
}

header h2 {
    text-align: center;
}

header a {
    color: #FFFFF0;
}

header a:hover, header a:focus {
    color: #8d2727;
    background-color: #FFFFF0 !important;
}

header nav ul li a{
    border-bottom: 0 !important;
}

.glyphicon-ok {
    color: green;
}

.glyphicon-remove {
    color: red;
}

.saved-modal {
    position: fixed;
    width: 30%;
    height: 30%;
    left: 35%;
    top: 35%;
    background-color: #8d2727;
    color: #FFFFF0;
    text-align: right;;
    vertical-align: middle;
    border-radius: 5px;
}

.saved-modal button {
    background-color: rgba(0,0,0,0);
    color: #FFFFF0;
}

.saved-modal p {
    margin: auto;
    text-align: center;
}

.saved-modal i {
    color: inherit;
}

.saved-modal button:hover {
    color: #b39999;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -50px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.footer, .page-wrap:after {
    height: 50px;
}
