<section>
    <h1>Dashboard</h1>
    <h3>Week of {{ currentWeekDate }}</h3>
    <table>
        <tr>
            <td>Sunday</td>
            <td>{{ sunday }}</td>
        </tr>
        <tr>
            <td>Monday</td>
            <td>{{ monday }}</td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>{{ tuesday }}</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>{{ wednesday }}</td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>{{ thursday }}</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>{{ friday }}</td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>{{ saturday }}</td>
        </tr>
    </table>
</section>
