<section ng-if="loggedIn">
    <h1>Dashboard</h1>
    <h3>Week of {{ currentWeekStart | date:'MMMM d, yyyy' }} - {{ currentWeekEnd | date:'MMMM d, yyyy' }}</h3>
    <table>
        <tr>
            <td>Sunday</td>
            <td>{{ statuses[0] }}</td>
        </tr>
        <tr>
            <td>Monday</td>
            <td>{{ statuses[1] }}</td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>{{ statuses[2] }}</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>{{ statuses[3] }}</td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>{{ statuses[4] }}</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>{{ statuses[5] }}</td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>{{ statuses[6] }}</td>
        </tr>
    </table>
</section>
