<section>
    <section class="medtrx-intro">
        <h2><span class="medtrx-logo">MEDTR<sub>x</sub></span> helps you and your loved ones keep on top of your medication</h2>
        <p>Using the MEDTR<sub>x</sub> pill organizer and free account, you can track whether or not you've taken medication on a daily basis as well as receive notifications if you forget a day.</p>
        <p>To get started, log in or register for a free account below</p>
    </section>
    <h1>Log In</h1>
    <form class="form">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" ng-model="emailIn" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" ng-model="passwordIn" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="submit" ng-click="login()" value="Login" class="form-control">
            <h5 class="text-center">or</h5>
            <a href="#!/register"><button class="form-control">Register</button></a>
        </div>
    </form>
</section>
