<h1>Your Profile</h1>
<div class="saved-modal" ng-show="saved">
    <button class="btn" ng-click="saved=false"><i class="glyphicon glyphicon-remove"></i></button>
    <p class="">Saved data successfully</p>

</div>
<form class="form-group form-inline">
    <label for="reminder-time">Remind Me After:</label>
    <input type="time" name="reminder-time" ng-model="reminderTimeIn" class="form-control">
    <input type="submit" ng-click="saveReminder()" value="Save" class="form-control">
</form>
<form class="form-group form-inline">
    <label>Send Notifications To:</label>
    <input type="text" name="" value="" class="form-control">
    <button ng-click="addNumber" class="btn btn-default">+</button>
    <input type="submit" value="Save" class="form-control">
</form>
<form ng-hide="registeredDevice()" class="form-group form-inline">
    <label>Add your device:</label>
    <input type="text" ng-model="deviceIdIn" class="form-control">
    <input type="submit" ng-click="registerDevice()" value="Add Device" class="form-control">
</form>
