<section>
    <section class="medtrx-intro">
        <h3><span class="medtrx-logo">MEDTR<sub>x</sub></span> helps you and your loved ones keep on top of your medication</h3>
        <h4>Using the MEDTR<sub>x</sub> pill organizer and free account, you can track whether or not you've taken medication on a daily basis as well as receive notifications if you forget a day.</h4>
        <h4>To get started, register for a free account below.</h4>
    </section>
    <h1>Register</h1>
    <form class="form">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" ng-model="emailIn" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" ng-model="passwordIn" class="form-control" required>
        </div>
        <h4>If you already have a <span class="medtrx-logo">MEDTR<sub>x</sub></span> Organizer, you can enter the ID (located on a sticker on the device) below to link your account. You can always link your account to a device later in your profile.</h4>
        <div class="form-group">
            <label for="deviceId">Device ID:</label>
            <input type="text" name="deviceId" ng-model="deviceIdIn" class="form-control">
        </div>
        <div class="form-group">
            <input type="submit" ng-click="register()" value="Register" class="form-control">
        </div>
    </form>
</section>
